## Build generated
build/
DerivedData
build.xcarchive

## Various settings
xuserstate/
xcuserdata/
xcschemes/
xcuserdata

*.xcworkspace
*.xcbkptlist
*.xcuserdata
*.xcuserstate
*.pbxuser
*.xccheckout
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3

!default.perspectivev3
!default.pbxuser
!default.mode2v3
!default.mode1v3

*.hmap
*.ipa


## LIBS
Pods/
Podfile.lock
Carthage/Checkouts
Carthage/Build

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.DS_Store